@import url(fonts/Inter\ Web/inter.css);

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #2a2c2f;
  color: #ffffff;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
}

.lead {
  margin: 0 auto 92px;
}

.lead__logo {
  display: block;
  max-width: 270px;
  margin: 34px auto 90px;
}

.lead__title {
  max-width: 793px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 34px;
}

.lead__subtitle {
  max-width: 720px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 64px;
}

.lead__image {
  display: block;
  max-width: 75%;
  margin: 0 auto;
}

.intro {
  max-width: 1017px;
  margin: 0 auto;
  padding: 0 24px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
}

.intro__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  max-width: 722px;
}

.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  max-width: 720px;
}

.photo-grid {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 284px;
  width: 100%;
}

.places {
  max-width: 987px;
  margin: 0 auto;
}

.place__image {
  max-width: 460px;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  max-width: 460px;
}

.place__website {
  text-decoration: none;
  color: #ffffff;
}

.place__url-heading {
  font-size: 12px;
  color: #aaaaaa;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .lead__image {
    max-width: 100vw;
    width: 100%;
  }

  .photo-grid {
    max-width: 720px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 16px;
  }

  .photo-grid__item {
    max-width: 352px;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }

  .photo-grid__item {
    max-width: 288px;
    margin: 0 auto;
  }
}
